


.container-category{
    display: flex;
    align-items: start;

    justify-content: center;
    height: 100vh;
}

.container-category .category-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}